* {
    margin: 0;
    padding: 0;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
}
html, body {
    width: 100%;
    height: 100%;
}

body {
    background: #03151f;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000;
    background: linear-gradient(#40018e, #003192, rgb(0, 131, 158));
    overflow: hidden;
}

.sun {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 20px;
    right: 40px;
    background-color: #f9cb5d;
    border-radius: 50%;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("./assets/images/bluewave.png");
    background-size: 1000px 100px;
}

.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}

.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

.boat {
    width: 250px;
    height: 250px;
    position: absolute;
    margin-top: 200px;
    top: 45%; /* Adjusted the initial top position */
    left: 10%;
    transform: translate(-50%, -50%);
    background-image: url('./assets/images/boat.png');
    background-size: cover;
    z-index: 1;
}


/* Island styling */
.island {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    background-image: url('./assets/images/island.png');
    background-size: cover;
    z-index: 1;
    display: none;
    
}

/* Option styling */
.option1, .option2, .option3 {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    opacity: 0.8;
    background-blend-mode: multiply;
    background: rgba(113, 252, 254, 0.5);
    background-size: cover;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
    margin-bottom: 20px;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

@keyframes animate2 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1000px 0;
    }
}

@keyframes moveToIsland {
    0% {
        left: 10%;
        top: 45%; /* Starting higher so the boat floats */
    }
    100% {
        left: 75%; /* Moving boat towards the island */
        top: 45%; /* Adjust this value to keep the boat higher above water */
    }
}

@keyframes hideElements {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden; /* Make sure elements are not clickable after fading out */
    }
  }
  
  .title, .options {
    opacity: 1;
    transition: opacity 2s ease;
  }